<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
    <title>Programacion e Historia</title>
</head>
<body>
    <nav>
        <a href="/">
            <svg width="200" height="80">
                <rect x="45" y="5" width="60" height="35" rx="5" id="monitor" fill="antiquewhite"></rect>
                <rect x="50" y="10" width="50" height="25" rx="5" id="pantalla" fill="darkslateblue"></rect>
                <polygon points="55 45 ,95 45,115 62,30 62" id="teclado" fill="antiquewhite"></polygon>
                <polygon points="57 48 ,92 48,104 58,43 58" id="teclas" fill="darkslateblue"></polygon>
            </svg>
            </a>
            <ul class="menu">
                <li class="item-menu"><a class="item-link" href="/historia">HISTORIA</a></li>
                <li class="item-menu"><a class="item-link" href="/poneraprueba">JUGUEMOS</a></li>
            </ul>
    </nav>
    <header>
            <h1>PROGRAMACION E HISTORIA</h1>
    </header>
        <h2>CONTENIDO</h2>
    <main class="father-container">
        <div class="card">
            <img class="img-card" src="/img/img1.jpg" alt="imagen=producto">
            <p class="card-description">Conozcamos un poco sobre la historia de la programación</p>
            <a class="button-card" href="/historia" style="color:#F0F5E4;">Ir a Historia</a>
        </div>
        <div class="card">
            <img class="img-card" src="/img/img2.jpg" alt="imagen=producto">
            <p class="card-description">Juguemos un poco con la computación</p>
            <a class="button-card" href="/poneraprueba" style="color:#F0F5E4;">Ir a juego</a>
        </div>
        
    </main>
<footer>
        <div class="left-foot">
            <img class="logo" src="/img/logo.png" alt="logo">
            <h3 class="h3-foot">PROGRAMACION E HISTORIA</h3>
        </div>
        <div class="foot-content">Sitio con fines educativos - Creado por M. Victoria Lopez</div>
</footer>
        
</body>
</html>