<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
    <title>Programacion e Historia</title>
</head>
<body>
        <nav>
            <a href="/">
                <svg width="200" height="80">
                    <rect x="45" y="5" width="60" height="35" rx="5" id="monitor" fill="antiquewhite"></rect>
                    <rect x="50" y="10" width="50" height="25" rx="5" id="pantalla" fill="darkslateblue"></rect>
                    <polygon points="55 45 ,95 45,115 62,30 62" id="teclado" fill="antiquewhite"></polygon>
                    <polygon points="57 48 ,92 48,104 58,43 58" id="teclas" fill="darkslateblue"></polygon>
                </svg>
                </a>
            <ul class="menu">
                <li class="item-menu"><a class="item-link" href="/historia">HISTORIA</a></li>
                <li class="item-menu"><a class="item-link" href="/poneraprueba">JUGUEMOS</a></li>
            </ul>
        </nav>
        <header class="juego">
            <h1>JUGUEMOS UN POCO</h1>
        </header>
        <main>
            <h2>Armemos el rompecabezas y veamos que imagen es...</h2>
        </main>
        <article class="game">
            <div class="gamepart1">
                <div class="box" id="box-game1">
                    <p>Arrastre y suelte la imagen aquí</p>
                </div>
                <div class="box" id="box-game2">
                    <p>Arrastre y suelte la imagen aquí</p>
                </div>
                <div class="box" id="box-game3">
                    <p>Arrastre y suelte la imagen aquí</p>
                </div>
            </div>
            <div class="gamepart2" id="gamepart2">
                <div class="box-game2" id="box-imagen">
                    <img src="/img/rompe2.png" alt="figura 2" id="fig1">
                    <img src="/img/Rompe1.png" alt="figura 1" id="fig2">
                    <img src="/img/Rompe3.png" alt="figura 3" id="fig3">
                </div>
                <button class="item-link" onclick=reiniciar()>Reiniciar</button>
            </div>
        </article>
        <script src="../js/juego.js"></script>
</body>
</html>