<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
    <title>Programacion e Historia</title>
</head>
<body>
        <nav>
            <svg></svg>
            <ul class="menu">
                <li class="item-menu"><a class="item-link" href="/historia">HISTORIA</a></li>
                <li class="item-menu"><a class="item-link" href="/poneraprueba">JUGUEMOS</a></li>
            </ul>
        </nav>
        <header>
            <h1>JUGUEMOS UN POCO</h1>
        </header>
</body>
</html>